<p id="notice"><%= notice %></p>

<h1>Userinfos</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Birthday</th>
      <th>Introduction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userinfos.each do |userinfo| %>
      <tr>
        <td><%= userinfo.username %></td>
        <td><%= userinfo.password %></td>
        <td><%= userinfo.birthday %></td>
        <td><%= userinfo.introduction %></td>
        <td><%= link_to 'Show', userinfo %></td>
        <td><%= link_to 'Edit', edit_userinfo_path(userinfo) %></td>
        <td><%= link_to 'Destroy', userinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userinfo', new_userinfo_path %>
